:root {
    --header-background: #101010;
    --server-list-background: #101010;
    --channel-list-background: #141414;
    --chat-background: #212121;
    --profile-background: #505050;
    --chat-input-background: #505050;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: black;
    overflow: hidden;
    color: #dddddd;
    font-family: Arial;
}

.header {
    background: var(--header-background);
    flex: 0 0 15px;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.lists {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-height: 0;
}

.server-list {
    background: var(--server-list-background);
    flex: 0 0 64px;
}

.channel-list {
    background: var(--channel-list-background);
    flex: 0 0 192px;
}

.chat-list {
    background: var(--chat-background);
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow-y: auto;
    padding: 8px;
    gap: 8px;
}

.footer {
    position: fixed;
    bottom: 8px;
    left: 8px;
    right: 8px;
    display: flex;
    flex-direction: row;
    height: 48px;
    gap: 16px;
}

.profile {
    background: var(--profile-background);
    border-radius: 8px;
    flex: 0 0 240px;
}

.chat-input {
    background: var(--chat-input-background);
    border-radius: 8px;
    flex: 1;
}

.message {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.message-profile {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 50%;
}

.message-content {
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.message-info {
    font-weight: bold;
}

.message-text {
    overflow-wrap: anywhere;
}
